{% extends "perimeter_crud/layout_blocks/app.dtl.html" %}

{% block content %}
    <div class="w-100 flex-center position-ref full-height">
           <div class="content">
                <div class="title m-b-md">
                    <h1 class="title">Perimeter</h1>
                    <span class="fa fa-eye-slash"></span>

                    <!--<div class="fa fa-eye-slash" style="width:10rem;height:10rem;position:absolute;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>-->
                </div>

                <div class="links">
                    |
                    <a href="https://github.com/lusayosayo/perimeter">GitHub</a>
                    |
                </div>
            </div>
        </div>
{% endblock %}