{% extends "accounts/layout_blocks/app.dtl.html" %}

    {% block form_header %}
    <h3 class="text-center">Enter Details</h3>
    {% endblock %}
    
    {% block form_content %}
    <form method="POST" action="/perimeter/accounts/register/">
        <div class="form-group row">
            <label for="username" class="col-md-3 col-form-label text-md-left">{{ form.username.label_tag }}</label>

            <div class="col-md-9">
                <input id="username" type="text" class="form-control" name="username" required autofocus>
          
                {% if error %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ error }}</strong>
                </span>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-md-3 col-form-label text-md-left">Email: </label>

            <div class="col-md-9">
                <input id="email" type="email" class="form-control" name="email" required autofocus>
          
                {% if error %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ error }}</strong>
                </span>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
         <label for="password1" class="col-md-3 col-form-label text-md-left">{{ form.password1.label_tag }}</label>

            <div class="col-md-9">
                <input id="password1" type="password" class="form-control" name="password1" required>
            </div>
        </div>

        <div class="form-group row">
        <label for="password2" class="col-md-3 col-form-label text-md-left">{{ form.password2.label_tag }} </label>

        <div class="col-md-9">
            <input id="password2" type="password" class="form-control" name="password2" required>
        </div>
    </div>

        <div class="form-group row mb-0">
            <div class="col-md-9 offset-md-3 d-flex">
                <button type="submit" class="btn btn-dark flex-fill">
                    <span>Register</span>
                </button>

                <a class="btn btn-link text-dark" href="/perimeter/accounts/login/">
                    <span>Already have an account?</span>
                </a>
            </div>
        </div>
        {% csrf_token %}
    </form>
    {% endblock %}
