{% extends "perimeter_crud/layout_blocks/administration_interface/create_update.dtl.html" %}

{% block create_update_content %}
		{% if cluster %}
		<form action="/perimeter/clusters/{{ cluster.id }}/edit" method="POST">
			<h3>View Cluster</h3>
			<div class="form-group row">
				<label for="clusterName" class="col-sm-3 col-form-label">Cluster Name: </label>
				<div class="col-sm-9">
					<input type="text" name="cluster_name" class="form-control" required value="{{ cluster.name }}"/>
				</div>
			</div>

			<div class="form-group row">
				<label for="clusterDescription" class="col-sm-3 col-form-label">Cluster Description: </label>
				<div class="col-sm-9">
					<textarea class="form-control" name="cluster_description" required>{{ cluster.description }}</textarea>
				</div>
			</div>

			<hr>
			
			<div class="form-group row">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-outline-dark mr-1"><span class="fa fa-save"></span> &nbsp; Save Changes</button>
				</div>
			</div>

			<hr>

			<div class="form-group row">
				<header class="col-12">
					<h3 class="perimeter-subsection-header">
						<span>Nodes</span>
						<span class="help">
							<button type="button"
								class="btn btn-link"
								data-toggle='popover' title='What is this?'
								data-container='body'
								data-content="All of the devices under this cluster are showed here.">
								<i class="fa fa-question-circle"></i>
							</button>
						</span>
					</h3>
				</header>
				<hr>
				<div class="col-12 form-row mx-0">
					{% if nodes %}
					<table id="nodes" class="table table-dark table-striped">
						<thead>
							<th scope="col">Node</th>
							<th scope="col">Description</th>
							<th scope="col"></th>
							<th scope="col" class="d-flex">
								<button type="button"
									class="btn btn-outline-dark bg-white ml-auto"
									data-action="add_mapping"
									data-parent-module="clusters"
									data-child-module="nodes"
									data-parent-instance-id="{{ cluster.id }}">
									<i class="fa fa-plus-circle"></i>
									<span>Add Node to Cluster</span>
								</button>
							</th>
						</thead>
						{% for node in nodes %}
						<tr class="node">
							<td class="interface_type">
								{{ node.name }}
							</td>
							<td class="interface_address">
								{{ node.description }}
							</td>
							<td class="interface_details">
								<button
									id="btn_map_node_{{ node.id }}"
									type="button"
									data-action="show"
									data-module="nodes"
									data-instance-id="{{ node.id }}"
									class="interface-details-btn btn btn-link text-white">
									<i class="fa fa-external-link"></i>
									<span>Details</span>
								</button>
							</td>
							<td>
								<button
									id="btn_unmap_node_{{ node.id }}"
									type="button"
									data-action="unmap"
									data-parent-module="clusters"
									data-child-module="nodes"
									data-parent-instance-id="{{ cluster.id }}"
									data-child-instance-id="{{ node.id }}"
									data-map-keyword="Re-Cluster"
									data-unmap-keyword="Delete"
									class="btn btn-link text-white">
									<i class="fa fa-trash"></i>
									<span class="mapping_state">Mapping State</span>
								</button>
							</td>
						</tr>
						{% endfor %}
					</table>
					{% else %}
					<div class="flex-center position-ref h-100 w-100">
						<div class="code">
							<h4 class="h1">No Nodes Found<h4>
						</div>
						<br>
						<div class="message" style="padding: 10px;">
							<span class="fa fa-terminal"></span>
							<button type="button"
								class="btn btn-link"
								data-action="add_mapping"
								data-parent-module="clusters"
								data-parent-instance-id="{{ cluster.id }}"
								data-child-module="nodes">
								<i class="fa fa-plus-circle"></i>
								<span>Add a new node</span>
							</button>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			
			<input type="hidden" name="_method" value="PUT"/>
			{% csrf_token %}
		</form>
		{% else %}
		<div class="flex-center position-ref full-height">
            <div class="code">
                <h1>
                	The cluster you requested does not exist.
                </h1>
            </div>
            <br>
            <div class="message" style="padding: 10px;">
            	<span class="fa fa-terminal"></span>
                <a href="/perimeter/clusters/index">Return to cluster list...</a>
            </div>
        </div>
		{%endif%}
{% endblock %}