{% extends "perimeter_crud/layout_blocks/administration_interface/create_update.dtl.html" %}

{% block create_update_content %}
        {% if network_provider %}
            {% if network %}
            <div class="form-group row">
                <h2 class="text-center w-100">
                    <button
					class="btn btn-link btn-crumb"
					data-action="show"
					data-module="network_providers"
                    data-instance-id="{{ network_provider.id }}">{{ network_provider.name }}</button>
                </h2>
            </div>
            <hr>
            <form action="/perimeter/network_providers/{{ network_provider.id }}/networks/{{ network.id }}/edit" method="POST">
                <h3>Edit Network</h3>
                
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Network Name: </label>
                    <div class="col-sm-9">
                        <input type="text" name="name" class="form-control"
                            required placeholder="Victoria Avenue Network" value="{{ network.name }}"/>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">Description: </label>
                    <div class="col-sm-9">
                        <textarea name="description" class="form-control"
                            required placeholder="Victoria Avenue VPN connection.">{{ network.description }}</textarea>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="public_gateway" class="col-sm-3 col-form-label">Public Gateway: </label>
                    <div class="col-sm-9">
                        <input type="text" name="public_gateway" class="form-control"
                            required placeholder="196.216.9.204" value="{{ network.public_gateway }}"/>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="local_gateway" class="col-sm-3 col-form-label">Local Gateway: </label>
                    <div class="col-sm-9">
                        <input type="text" name="local_gateway" class="form-control"
                            required placeholder="172.25.0.1" value="{{ network.local_gateway }}"/>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="network_subnet_mask" class="col-sm-3 col-form-label">Subnet Mask: </label>
                    <div class="col-sm-9">
                        <input type="text" name="subnet_mask" class="form-control"
                            required placeholder="255.255.255.0" value="{{ network.subnet_mask }}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-outline-dark mr-1">
                            <i class="fa fa-save"></i>
                            <span>Save Changes</span>
                        </button>
                    </div>
                </div>
                
                {% csrf_token %}
                <input type="hidden" name="_method" value="POST"/>
            </form>
            {% else %}
                <div class="flex-center position-ref full-height">
                <div class="code">
                    <h3 class="h1">
                        You can't edit a network that doesn't exist.
                    </h3>
                </div>
                <br>
                <div class="message" style="padding: 10px;">
                    <span class="fa fa-terminal"></span>
                    <a href="/perimeter/network_providers/{{ network_provider.id }}/show">Return to network provider overview...</a>
                </div>
            </div>
            {% endif %}
        {% else %}
            <div class="flex-center position-ref full-height">
                <div class="code">
                    <h3 class="h1">
                        You can't edit a network for a network provider that doesn't exist.
                    </h3>
                </div>
                <br>
                <div class="message" style="padding: 10px;">
                    <span class="fa fa-terminal"></span>
                    <a href="/perimeter/network_providers/index">Return to network provider list...</a>
                </div>
            </div>
        {% endif %}
{% endblock %}